# SSL Certifikáty (Nikdy necommitovat!)
cert.pem
key.pem

# Vercel & Deployment
.vercel/
.env

# Python
__pycache__/
*.py[cod]

# Systémové soubory & Dokumenty
.DS_Store
*.pdf

# Node.js
node_modules/
npm-debug.log*